 <table >
    <thead>
        <tr>
            <th>No.</th>
            <th>Todo item</th>
            <th>status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <Tbody>
        <% todos.map(el => { %>
            <tr class="<%= el.status === 'Completed' ? 'finished' : 'inPrograss' %>"> 
                <td> <%= el.itemNumber %> </td>
                <td> <%= el.title %> </td>
                <td> <%= el.status %> </td>
                <td style="display: inline-flex;">
                    <form action="/todo/todos/<%= el.id %>?_method=DELETE" method="POST">
                        <button type="submit" id="delete" > Delete </button>
                    </form>
                    <form action="/todo/todos/<%= el.id %>?_method=PUT" method="POST">
                        <button type="submit" id="finished">Finished</button>
                    </form>
                </td>    
            </tr>
        <% }) %>     
    </Tbody>
</table>